 form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    align-items: center;
    overflow-x: hidden;
}

.wrap_popup_menu {
    z-index: 2000;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .wrap_popup_menu.show {
    display: flex;
  }

  /*팝업창의 속성*/
  .wrap_menu { 
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px;
    height: 550px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

    transform: translateX(-50%) translateY(-50%);
  }

  .popup_head{
    width:100%;
    box-shadow: 0px 0px 10px 2px #a1a1a1;
    z-index: 1000;
    background-color: var(--navy);
    text-align: left;
  }
  .txt_title{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: white;
    margin: 15px 20px;
  }

  .popup_foot{         
    padding-right: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .btn_menu_cancel, .btn_menu_register{
    display: inline-block;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    padding: 0.3em 1.2em;
    margin: 5px 0.5em 5px 0;
    border-radius: 10px;
    box-sizing: border-box;
    transition: all 0.1s;
  }
  .btn_menu_cancel{
    background-color: #fff;
    color: var(--navy);
    border: 0.12em solid var(--navy);
  }
  .btn_menu_register{
    color: white;
    background-color: var(--navy);
    border: 0.12em solid var(--navy);
  }

  .wrap_menu_block{
    width: 80%;
    padding: 20px;
    margin: 0 auto;
    box-shadow:  /*리뷰 사이사이 선 나누기*/
        0 0 0 0 white, 
        0 1.5px 0 0 #D9D9D9, 
        0 0 0 0 white, 
        0 0 0 0 white, 
        0 1.0px 0 0 #D9D9D9 inset;
    display : flex;
    align-items : center;
    justify-content: flex-start;
}

/*메뉴 이미지 영역*/
#wrap_img_menu{
  width:140px;
  height:140px;
  position: static;
  object-fit: cover;
}
#wrap_img_upload_menu{
  width:100%;
  height:100%;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  background-color: var(--white);
  border: 2px dashed var(--common-light-grey); /*영역 구분을 위해 사용-추후 삭제*/
}
.img_menu_temp{
  width:100%;
  height:100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  display: block;
}
/*이미지 업로드 버튼*/
.btn_upload_menu {
  position: absolute;
  bottom: 0px;
  right: 3px;
  display: flex;
  justify-content: flex-end;
}
.img_menufile_input {
  cursor: pointer;
  width:30px;
  height:30px;
  padding: 5px;
  filter: drop-shadow(2px 2px 2px rgb(172, 172, 172));
}
/* 못생긴 기존 input 숨기기 */
#chooseMenuFile {
  visibility: hidden;
}

/*이미지 삭제 버튼*/
#wrap_delete_menu *{
  visibility: hidden;
}
.btn_delete_menu {
  position: absolute;
  top: 5px; 
  right: 5px;
  display: flex;
  justify-content: flex-end;
}
.img_menufile_delete {
  cursor: pointer;
  width:15px;
  height:15px;
  margin: 5px;
}

/*메뉴명, 메뉴 가격 등록 부분*/
.wrap_menu_input{
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.txt_name, .txt_price{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
  text-align: left;
  font-size: 17px;
  margin: 5px 5px 5px 0px;
  align-self: flex-start;
  flex-shrink: 0;
}

.txt_input_name, .txt_input_price{
  width: 90%;
  height: 30px;
  border-radius: 8px;
  margin-bottom: 8px;
  border: 0;
  color: var(--navy);
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  font-size: 15px;
  outline: none;
  padding-left: 10px;
  background-color: var(--common-light-grey);
}

/*새로 메뉴 추가할 시 필요한 부분*/
.wrap_add_menu{
  width: 80%;
  padding: 10px 20px 10px 20px;
  margin: 0 auto;
  box-shadow:  /*리뷰 사이사이 선 나누기*/
      0 0 0 0 white, 
      0 1.5px 0 0 #D9D9D9, 
      0 0 0 0 white, 
      0 0 0 0 white, 
      0 1.0px 0 0 #D9D9D9 inset;
  display : flex;
  align-items : center;
  justify-content: center;
}

.btn_add_menu{
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.img_add_menu{
  width: 18px;
  height: 18px;
  align-self: center;
}
.txt_add_menu{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: var(--common-dark-grey);
  text-decoration: none;
  margin: 0 3px;
  margin-bottom: 2px;
}

/*창의 크기가 작아지면 팝업창도 같이 작아짐*/
@media screen and (max-width: 800px) {
  .wrap_body{
    width: 500px;
  }
}