/*  마이페이지에 적용되는 스타일 요소
    적용 방법
    <link rel="stylesheet" href="myPage.css">
*/

@import url('style.css');

/*프로필 이미지 영역*/
.wrap_inform_show{
    display: flex;
    flex-direction: column;
}

.btn_modify_profile{
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.img_modify_profile{
  width: 20px;
  height: 20px;
  align-self: center;
  margin-top: 4px;
}
.txt_modify_profile{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: var(--common-dark-grey);
  text-decoration: none;
  margin: 0 3px;
  margin-top: 4px;
}

.wrap_space{
    margin: 17px;
}

/*제목의 타이핑 효과*/
  .wrap_txt{
    text-align: center;
  }

 .title_mypage {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 30px;
  animation: typing 2s steps(22),
             blink-caret .5s step-end infinite alternate;
  text-shadow: 0px 0px 3px white;
  margin: 0 auto;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--pink); }
}


/*flip page*/
:root {  
  --duration: 500ms;   
  --ease-in: cubic-bezier(0.85, 0, 1, 1);  
  --ease-out: cubic-bezier(0, 0, 0.3, 1);  
  --ease-in-out: ease-in-out;
  /*여기 이미지 경로만 바꿔주면 된다.*/  
  --image-current: url("/static/img/img_temp6.jpeg");
  --image-next: url("/static/img/img_temp5.jpeg");
 }  

 @keyframes zoom-1 {  
  0%, 100% { transform: scale(0.8); }  
  50% { transform: scale(0.8); box-shadow: 0 1vh 3vh rgba(0, 0, 0, 0.1); }  
 }  
 @keyframes zoom-2 {  
  0%, 100% { transform: scale(0.8); }  
  50% { transform: scale(0.8); box-shadow: 0 1vh 3vh rgba(0, 0, 0, 0.1); }  
 }  
 section { 
  animation: zoom-1 calc(var(--duration) * 2) var(--ease-in-out);  
  border-radius: 1vh;  
  box-shadow: 0 2vh 4vh rgba(0, 0, 0, 0.2);  
  z-index: 1;  
  perspective: 90%;  
  position: relative;  
  transform: scale(0.8);  
  width: 80%;
  height: 600px;
  margin: 0 auto;
 }  
 /* duplicating the animation to get it to fire again */  
 section.flip {  
  animation: zoom-2 calc(var(--duration) * 2) var(--ease-in-out);  
 }  
 .left, .right{
  backface-visibility: hidden;  
  background-attachment: fixed;  
  background-position: center;  
  background-size: cover;  
  height: 100%;  
  position: absolute;  
  top: 0;  
  transition-property: transform;  
  transition-duration: var(--duration);  
  width: 50%;  

 }  
  
 .current {  
  background-image: var(--image-current);  
 }  
 .next {  
  background-image: var(--image-next);  
 }  
 .left {  
  border-radius: 1vh 0 0 1vh;  
  left: 0;  
  transform-origin: 100% 50%;  
 }  
 .right {  
  border-radius: 0 1vh 1vh 0;  
  right: 0;  
  transform-origin: 0% 50%;  
 }  
 .next.left {  
  transform: rotateY(90deg);  /*회전시키는 것*/
  transition-delay: 0ms;  
  transition-timing-function: var(--ease-in);  
  z-index: 9;  
 }  
 .current.right {  
  transform: rotateY(0deg);  
  transition-delay: var(--duration);  
  transition-timing-function: var(--ease-out);  
 }  
 .flip .current.right {  
  transform: rotateY(-90deg);  
  transition-delay: 0ms;  
  transition-timing-function: var(--ease-in);  
 }  
 .flip .next.left {  
  transform: rotateY(0deg);  
  transition-delay: var(--duration);  
  transition-timing-function: var(--ease-out);  
 }  


/*창의 크기가 작아지면 팝업창도 같이 작아짐*/
@media screen and (max-width: 800px) {
  .warp_body{
    width: 500px;
  }
}


