/*  리뷰조회화면에 적용되는 스타일 요소
    적용 방법
    <link rel="stylesheet" href="reviewList.css">
*/

@import url('style.css');

:root {
    --color-blue: #303349;
    --color-purple: rgb(113,75,128);
    --color-pink: #D3A09B;
    --transition-time: 500ms;
    --transition-ease: cubic-bezier(.1,.7,.8,.3);
}

/*타이틀 영역*/
.wrap_txt{
    width: 80%;
    margin-bottom: 30px;
    margin-top: 30px;
}
.title_review{
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: black;
}
.desc_review{
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin: 0 auto;
    color: var(--common-dark-grey);
}


/*가게로 돌아가기~메뉴추가 영역*/
.title_menu_list{
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 30px;
  }
  .wrap_btn{
    width: calc(80%*0.9);
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .btn_return_store, .btn_add_review{
    text-decoration: none;
    display: flex;
    flex-direction: row;
  }
  .img_return_store, .img_add_review{
    width: 20px;
    height: 20px;
    align-self: center;
  }
  .txt_btn{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 17px;
    color: var(--common-dark-grey);
    text-decoration: none;
    margin: 0 3px;
    margin-bottom: 2px;
  }
  .title{
    text-align: left;
    width: 80%;
    justify-content: center;
    margin: 30px 0 20px 0;
  }
  .title_category {
    align-self: flex-start;
    display: inline-block;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 15px;
    text-decoration: none;
    border: 0;
    border-radius: 8px;
    text-align: left;
    padding: 0.5em 1.3em;
    margin: 0 0.1em 0 0;
    width: 45%;
    box-sizing: border-box;
    color: white;
    background-color: var(--navy);
  }

/*리뷰 리스트 영역*/
.wrap_review_list{
    width: 80%;
    display : flex;
    flex-direction: column;
    margin-bottom: 200px;
}
.wrap_reviewblock{
    width: 90%;
    margin: 0 auto;
    box-shadow:  /*리뷰 사이사이 선 나누기*/
        0 0 0 0 white, 
        0 1.5px 0 0 #D9D9D9, 
        0 0 0 0 white, 
        0 0 0 0 white, 
        0 1.5px 0 0 #D9D9D9 inset;
    display : flex;
    align-items : center;
    justify-content: space-between;
}
.wrap_review_area{  /*닉네임, 리뷰 텍스트, 사진 영역*/
    width: 100%;
    display: flex;
    flex-direction: row;
}
.wrap_profile { /*프로필 영역*/
    width: 70px;
    height: 70px; 
    border-radius: 70%;
    overflow: hidden;
    margin: 45px 10px 10px 20px;
    flex-shrink: 0;
}
.img_profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.txt_area{
    width: 80%;
    padding-left: 30px;
    padding-right: 20px;
    margin: 35px 0;
}
.title_area{
    display: flex;
    flex-direction: row;
    margin: 10px 0 17px 0;
    align-items: center;
}
.wrap_star{
    padding: 0 0 4px 0;
}
.info_nickname{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 17px;
    margin-right: 10px;
}
.txt_review{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    font-size: 17px;
    margin: 10px 0 10px 0;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap:break-word; 
    line-height: 1.2em;
    height: 4.8em; /* line-height 가 1.2em 이고 3라인을 자르기 때문에 height는 1.2em * 3 = 3.6em */
}
.wrap_img_review{
    height: 144px;
    width: 200px;
    overflow: hidden;
    background: white;
    position: relative;
}
.img_review{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.wrap_like { /*like 영역*/
    display: flex;
    flex-direction: column;
    width: 27px;
    height: 27px; 
    margin: 45px 20px 5px 10px;
    align-items: center;
}
.img_like {
    width: 100%;
}
.txt_num_like{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 17px;
    margin: 5px;
    color: var(--common-dark-grey);
    float: right;
}
.wrap_none_review{
    text-align: center;
}

/*화면 반응비 줄어들 시 사진 커지기*/
@media screen and (max-width: 1000px) {
    .wrap_img_review{
        width: 95%;
        padding-top: 72%;
        height: 0;
    }
}

/*별점 표시 구역*/

[data-star] {
  text-align:left;
  font-style: normal ;
  display:inline-block;
  position: relative;
  unicode-bidi: bidi-override;
}
[data-star]::before { 
  display:block;
  content: "✿✿✿✿✿";
  color: #D9D9D9;
  font-size: 30px;
}
[data-star]::after {
  white-space:nowrap;
  position:absolute;
  top:0;
  left:0;
  content: "✿✿✿✿✿";
  width: 0;
  color: var(--light-green);
  overflow:hidden;
  font-size: 30px;
  height:100%;
}

[data-star^="0.1"]::after,[data-star^=".1"]::after{width:2%}
[data-star^="0.2"]::after,[data-star^=".2"]::after{width:4%}
[data-star^="0.3"]::after,[data-star^=".3"]::after{width:6%}
[data-star^="0.4"]::after,[data-star^=".4"]::after{width:8%}
[data-star^="0.5"]::after,[data-star^=".5"]::after{width:10%}
[data-star^="0.6"]::after,[data-star^=".6"]::after{width:12%}
[data-star^="0.7"]::after,[data-star^=".7"]::after{width:14%}
[data-star^="0.8"]::after,[data-star^=".8"]::after{width:16%}
[data-star^="0.9"]::after,[data-star^=".9"]::after{width:18%}
[data-star^="1"]::after{width:20%}
[data-star^="1.1"]::after{width:22%}
[data-star^="1.2"]::after{width:24%}
[data-star^="1.3"]::after{width:26%}
[data-star^="1.4"]::after{width:28%}
[data-star^="1.5"]::after{width:30%}
[data-star^="1.6"]::after{width:32%}
[data-star^="1.7"]::after{width:34%}
[data-star^="1.8"]::after{width:36%}
[data-star^="1.9"]::after{width:38%}
[data-star^="2"]::after{width:40%}
[data-star^="2.1"]::after{width:42%}
[data-star^="2.2"]::after{width:44%}
[data-star^="2.3"]::after{width:46%}
[data-star^="2.4"]::after{width:48%}
[data-star^="2.5"]::after{width:50%}
[data-star^="2.6"]::after{width:52%}
[data-star^="2.7"]::after{width:54%}
[data-star^="2.8"]::after{width:56%}
[data-star^="2.9"]::after{width:58%}
[data-star^="3"]::after{width:60%}
[data-star^="3.1"]::after{width:62%}
[data-star^="3.2"]::after{width:64%}
[data-star^="3.3"]::after{width:66%}
[data-star^="3.4"]::after{width:68%}
[data-star^="3.5"]::after{width:70%}
[data-star^="3.6"]::after{width:72%}
[data-star^="3.7"]::after{width:74%}
[data-star^="3.8"]::after{width:76%}
[data-star^="3.9"]::after{width:78%}
[data-star^="4"]::after{width:80%}
[data-star^="4.1"]::after{width:82%}
[data-star^="4.2"]::after{width:84%}
[data-star^="4.3"]::after{width:86%}
[data-star^="4.4"]::after{width:88%}
[data-star^="4.5"]::after{width:90%}
[data-star^="4.6"]::after{width:92%}
[data-star^="4.7"]::after{width:94%}
[data-star^="4.8"]::after{width:96%}
[data-star^="4.9"]::after{width:98%}
[data-star^="5"]::after{width:100%}



/*리뷰 좋아요 하트 누르기 버튼 영역*/

/*.rating label {
  float: right; /*가로 오른쪽 정렬 해줘야 별들 간 간격이 똑같음*/
/*  position: relative; /*absolute 쓰면 별들 다 사라짐. absolute 부모 요소 기준으로 배치.*/
/*  width: 25px; /*꽃들 사이 간격 조정*/
/*  cursor: pointer; /*이 코드를 치면 아이콘 위로 마우스 커서를 올리면 모양이 바뀐다.*/
/*}
.rating label:not(:first-of-type) { /*아이콘 간 간격*/
/*  padding-right: 1px;
}
*/
/*
.liked label:before {
  content: '\2665';
  font-size: 40px;
  color: var(--white);
  line-height: 1;
  height: 40px;
}
.liked input {
  display: none;
}
.liked input:checked ~ label:before {
  transition: all 0.5s;
  color: var(--pink);
}
*/

.liked{
  margin: 0 0 0 0;
  font-size: 40px; /*폰트 사이즈*/
  color: var(--common-light-grey); /*선택 전 글자 색깔*/
  line-height: 1;
  height: 40px;
  cursor: pointer
}
.liked.clicked{
  transition: all 0.5s;
  color: var(--pink);
}