/*  맛집세부화면에 적용되는 스타일 요소
    적용 방법
    <link rel="stylesheet" href="맛집세부화면.css">
*/
@import url('style.css');

/* 구현 미완료 목록
    지도 api
*/
#img_store {
    width:80%;
    height:350px;
    border-radius: 16px;
    margin: 8px 0 8px 0;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}
.img_head_store{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

/*지도와 마커의 스타일 구역*/
.map_wrap, .map_wrap * {
    margin: 0;
    padding:0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size:12px;
}
.map_wrap {
    position:relative;
    width:80%;
    height:350px;
    margin: 8px 0 32px 0;
    border-radius: 16px;
    overflow: hidden;
}
.map_wrap a, .map_wrap a:hover, .map_wrap a:active{
    color:#000;
    text-decoration: none;
}

/*가게 이름, 리뷰 및 별점 구역*/
.info_store {
    width: 80%
}
.wrap_store_side {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.info_store_name {
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Noto Sans KR', sans-serif;
    flex-shrink: 0;
    text-align: left;
    margin: 0;
}
.wrap_review_and_star {
    display: flex;
    justify-content: right;
    width: 80%;
    padding: 10px 0;
}
.img_store_review{
    margin: 0 0 3px 0;
}
.wrap_review, .wrap_star{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 20px;
}
.txt_review_number, .txt_rating_number{
    color: var(--common-dark-grey);
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 15px;
    margin: 0 auto;
    text-align: center;
}
.wrap_star_store {
    box-sizing: border-box;
    display: flex;
}
.img_star_store{
    margin-bottom: 2px;
    margin-left: 1px;
}

/*구분선*/
hr {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--common-light-grey);
    border: 0;
    height: 2px;
}

/*맛집 하단 정보 구역*/
.wrap_store_info {
    display: flex;
    flex-direction: row;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.info_store_total, .info_store_site {
    text-align: left;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 17px;
}
.info_store_total th, .info_store_site th{
    font-weight: 700;
    width: 100px;
}
.info_store_total td, .info_store_site td{
    font-weight: 300;
    width: 300px;
}
.info_store_site td a{
    border-bottom: 3px solid var(--common-light-grey);
    color: var(--common-dark-grey);
}
.info_store_site { /*가게 사이트*/
    display: flex;
    justify-content: right;
}

/*대표 메뉴 구역*/
.list_mainMenu{
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
}
.list_menu_item{
    width: 23.45%;
}
.item_area {
    margin: 0 0 12px 0;
    text-align: left;
    box-shadow: 0 0 0 1px var(--common-light-grey) inset;
    border-radius: 16px;
    box-sizing: border-box;
    overflow: hidden;
}
.wrap_img_menu{
  height: 0;
  width: 100%;
  overflow: hidden;
  padding-top: 60%;
  background: white;
  position: relative;
}
.img_main_menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.info_menu_name{
    font-weight: 500;
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    color: black;
    margin: 0 0 2px 12px;
}
.info_menu_price{
    font-weight: 300;
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    color: black;
    margin: 0 0 5px 12px;
}


/*리뷰보기 구역*/
.title {
    display: flex;
    text-align: left;
    width: 80%;
    justify-content: space-between;
    margin: 30px 0 20px 0;
    height: 
}

.title_mainMenu ,.title_review {
    align-self: flex-start;
    display: inline-block;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 15px;
    text-decoration: none;
    border: 0;
    border-radius: 8px;
    text-align: left;
    padding: 0.5em 1.3em;
    margin: 0 0.1em 0 0;
    width: 45%;
    box-sizing: border-box;
    color: #ffffff;
    background-color: var(--navy);
    min-width : 280px;
}
.btn_main_plus , .btn_review_plus {
    display: flex;
    float: right;
    flex-direction: row;
    padding: 5px;
    align-items: center;
}
.txt_more{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 17px;
    color: var(--common-dark-grey);
    text-decoration: none;
    margin: 0 3px;
    margin-bottom: 2px;
}

.wrap_space{
    width: 80%;
}

/*맛집 리뷰 구역: This section is for store review*/
.list_review {
    padding: 5px;
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    border-radius: 16px;
    border: 1px solid var(--common-light-grey);
}
.wrap_img_review{
    width: 25%;
    padding: 10px;
    align-self: center;
}
.wrap_img{
    height: 0;
    width: 100%;
    overflow: hidden;
    padding-top: 72%;
    background: white;
    position: relative
}
.img_review {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}
.info_review {
    width: 85%;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    margin: 10px 20px 0 20px;
    flex-direction: column;
    justify-content: flex-start;
}
.wrap_review_written {
    font-family: 'Noto Sans KR', sans-serif;
    flex-direction: row;
    display: flex;
    align-content: center;
    align-items: center;
    margin: 10px 0 0 0;
}
.txt_review_nickname_1 {
    font-size: 20px;
    margin: 0;
    font-weight: 500;
    white-space:nowrap;
}

.wrap_star_review {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    padding: 0 0 4px 0;
}
.txt_review_like{
    margin-top: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: var(--pink);
}
.txt_review_content {
    font-size: 15px;
    font-weight: 300;
    margin: 0;

    /*텍스트 ...더보기로 만드는 법*/
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap: break-word; 
    line-height: 1.2em;
    height: 4.8em; /* line-height 가 1.2em 이고 4라인을 자르기 때문에 height는 1.2em * 4 = 4.8em */
}


.icon_review_favorite_heart {
    display: flex;
    justify-content: right;
    padding: 10px;
    margin: 10px;
}

/*별점 표시 구역*/

[data-star] {
  text-align:left;
  font-style: normal ;
  display:inline-block;
  position: relative;
  unicode-bidi: bidi-override;
}
[data-star]::before { 
  display:block;
  content: "✿✿✿✿✿";
  color: #D9D9D9;
  font-size: 30px;
}
[data-star]::after {
  white-space:nowrap;
  position:absolute;
  top:0;
  left:0;
  content: "✿✿✿✿✿";
  width: 0;
  color: var(--light-green);
  overflow:hidden;
  font-size: 30px;
  height:100%;
}

[data-star^="0.1"]::after,[data-star^=".1"]::after{width:2%}
[data-star^="0.2"]::after,[data-star^=".2"]::after{width:4%}
[data-star^="0.3"]::after,[data-star^=".3"]::after{width:6%}
[data-star^="0.4"]::after,[data-star^=".4"]::after{width:8%}
[data-star^="0.5"]::after,[data-star^=".5"]::after{width:10%}
[data-star^="0.6"]::after,[data-star^=".6"]::after{width:12%}
[data-star^="0.7"]::after,[data-star^=".7"]::after{width:14%}
[data-star^="0.8"]::after,[data-star^=".8"]::after{width:16%}
[data-star^="0.9"]::after,[data-star^=".9"]::after{width:18%}
[data-star^="1"]::after{width:20%}
[data-star^="1.1"]::after{width:22%}
[data-star^="1.2"]::after{width:24%}
[data-star^="1.3"]::after{width:26%}
[data-star^="1.4"]::after{width:28%}
[data-star^="1.5"]::after{width:30%}
[data-star^="1.6"]::after{width:32%}
[data-star^="1.7"]::after{width:34%}
[data-star^="1.8"]::after{width:36%}
[data-star^="1.9"]::after{width:38%}
[data-star^="2"]::after{width:40%}
[data-star^="2.1"]::after{width:42%}
[data-star^="2.2"]::after{width:44%}
[data-star^="2.3"]::after{width:46%}
[data-star^="2.4"]::after{width:48%}
[data-star^="2.5"]::after{width:50%}
[data-star^="2.6"]::after{width:52%}
[data-star^="2.7"]::after{width:54%}
[data-star^="2.8"]::after{width:56%}
[data-star^="2.9"]::after{width:58%}
[data-star^="3"]::after{width:60%}
[data-star^="3.1"]::after{width:62%}
[data-star^="3.2"]::after{width:64%}
[data-star^="3.3"]::after{width:66%}
[data-star^="3.4"]::after{width:68%}
[data-star^="3.5"]::after{width:70%}
[data-star^="3.6"]::after{width:72%}
[data-star^="3.7"]::after{width:74%}
[data-star^="3.8"]::after{width:76%}
[data-star^="3.9"]::after{width:78%}
[data-star^="4"]::after{width:80%}
[data-star^="4.1"]::after{width:82%}
[data-star^="4.2"]::after{width:84%}
[data-star^="4.3"]::after{width:86%}
[data-star^="4.4"]::after{width:88%}
[data-star^="4.5"]::after{width:90%}
[data-star^="4.6"]::after{width:92%}
[data-star^="4.7"]::after{width:94%}
[data-star^="4.8"]::after{width:96%}
[data-star^="4.9"]::after{width:98%}
[data-star^="5"]::after{width:100%}


