<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/aboutUs.css') }}">
        <script src="{{ url_for('static', filename='main.js') }}" defer></script>
    </head>
    <!--html의 로딩 순서로 인해 위의 body의 스타일 속성에 한번 더 언급해줘야 함.-->
    <body style="justify-content: flex-start; align-items: center; height: 100vh;
                 background: linear-gradient(rgb(8, 21, 35) 40%, rgb(104, 104, 132)); overflow-x: hidden;">
        <!--헤더 영역-->
        {% include 'header.html' %}
        
        <!--사이 띄어주기-->
        <p class="wrap_space"></p>

        <!--펜타애플 팀 이름 영역-->
        <div class="wavy">
            <span style="--i:1;">P</span>
            <span style="--i:2;">E</span>
            <span style="--i:3;">N</span>
            <span style="--i:4;">T</span>
            <span style="--i:5;">A</span>
            <span style="--i:6;"> </span>
            <span style="--i:7;">A</span>
            <span style="--i:8;">P</span>
            <span style="--i:9;">P</span>
            <span style="--i:10;">L</span>
            <span style="--i:10;">E</span>
        </div><br>

        <!--펜타애플 팀원소개 영역-->
        <div class="list_member">
            <div class="members">
                <div class="member_area" >
                    <img class="profile_box" src="{{ url_for('static', filename='img/img_head.png') }}" alt="Head 나지원">
                    <p class="name_box" >Head 나지원</p>
                </div>
            </div>
            <div class="members">
                <div class="member_area" >
                    <img class="profile_box" src="{{ url_for('static', filename='img/img_sa.png') }}" alt="SA 전혜승">
                    <p class="name_box" >SA 전혜승</p>
                </div>
            </div>
            <div class="members">
                <div class="member_area" >
                    <img class="profile_box" src="{{ url_for('static', filename='img/img_pm.png') }}" alt="PM 손현서">
                    <p class="name_box" >PM 손현서</p>
                </div>
            </div>
            <div class="members">
                <div class="member_area" >
                    <img class="profile_box" src="{{ url_for('static', filename='img/img_qm.png') }}" alt="QM 최민주">
                    <p class="name_box" >QM 최민주</p>
                </div>
            </div>
        </div>
        <br><br>

        <!--펜타애플과 프로젝트 지향점 소개 영역-->
        <div class="txt_direction">
        <p>우리 PentaApple은 팀원 간의 확실한 피드백과 활발한 소통을 지향합니다.</p><br>
        <p>프로젝트 Ettopia는 사용자의 편의성 증대와 강한 커뮤니티 소속감 제공을 지향합니다.<p>
        </div><br><br>

        <div class="img_snowflakes" aria-hidden="true">
            <div class="img_snowflake">
            ❅
            </div>
            <div class="img_snowflake">
            ❅
            </div>
            <div class="img_snowflake">
            ❆
            </div>
            <div class="img_snowflake">
            ❄
            </div>
            <div class="img_snowflake">
            ❅
            </div>
            <div class="img_snowflake">
            ❆
            </div>
            <div class="img_snowflake">
            ❄
            </div>
            <div class="img_snowflake">
            ❅
            </div>
            <div class="img_snowflake">
            ❆
            </div>
            <div class="img_snowflake">
            ❄
            </div>
          </div>

    <!--푸터 영역-->
          
          <!-- FOOTER START -->
          <div class="footer">
            <div class="contain">
              <div class="col">
                  <h1>About Pentapple</h1>
                  <p class = "txt">Our mission is to build a bond between people <br>making a living near Ewha.<br>
                    We provide a service for the convenience of all users <br> when they are eating, playing, studying, and etc.    
                </div>
              <div class="col">
                <h1>Company</h1>
                <ul>
                  <li>About Us</li>
                  <li>Services</li>
                  <li>Imprint</li>
                  <li>News</li>
                </ul>
              </div>
              <div class="col">
                <h1>Support</h1>
                <ul>
                  <li>Contact Us</li>
                  <li>FAQs</li>
                  <li>Privacy Policy</li>
                </ul>
              </div>
              <div class="txt">
                    <br>
                    <div style="font-size: 14px; font-weight: 400; margin-left: 40px;">
                    E-mail : pentapple@gmail.com<br>
                    Phone : 123-4567-8910<br><br>
                    </div>
                    <hr style="border: solid 1px #999999; width: 120%; margin-left: 40px;">
                    <div style="font-size: 13px; font-weight: 300; margin-left: 40px;"><br>Copyright © 2022 Pentapple Company • All rights reserved</div>
      
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <!-- END OF FOOTER -->
        
    </body>
</html>