<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/categoryList.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/categoryList.js') }}" defer></script>
    
</head>
<body>
    <!--헤더 영역-->
    {% include 'header.html' %}

    <!--타이틀 영역-->
    <div class="wrap_txt">
        <p class="title_category">{{category}} 가게 리스트</p>
        <p class="desc_category">{{desc}}</p>
    </div>
    <form style="margin: 0; padding: 0; width: 0; height: 0; background-color:transparent; border:0px;" method="POST">
        <input name="value_category" id="value_category" type="hidden" value="{{category}}">
        <input name="page" id="page" type="hidden" value="">
        <button style="margin: 0; padding: 0; width: 0; height: 0; background-color:transparent; border:0px;"
                type="submit" name="btn_category_info" id="btn_category_info"></button>
    </form>
    {% if total > 0 %}
    <!--가게 리스트 영역-->
    <div class="wrap_store_list">
        {% for data in datas %}
        <div class="wrap_toplist">
            <div class="wrap_store_area">
                <div class="container_img_toplist">
                    <img class="img_toplist" src="{{data[1].img_path}}" alt="가게 대표사진">
                </div>
                <div class="txt_area">
                    <div class="title_area">
                        <div class="info_name">{{data[1].store_name}}</div>
                        <img src="{{ url_for('static', filename='icon/icon_rating.png') }}" alt="평점" width="27" height="27">
                    </div>
                    <p class="info_address">가게 주소: {{data[1].addr}}</p>
                    <p class="info_time">운영 시간: {{data[1].hour_open}}~{{data[1].hour_close}}</p>
                    <a href="/storeDetail/{{category}}/{{data[1].store_name}}/" class="btn_more">더보기 ></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- 페이지네이션을 위한 코드 시작 -->
    <div class="page-wrap">
        <div class="page-nation">
            <ul>
                <li>
                {% for i in range(page_count) %}
                    <a href="#a" onclick="pageChange({{i}})" color="black">{{i+1}}</a>
                {% endfor %}
                </li>
            </ul>
        </div>
    </div>
    {% else %}
    <p>등록된 맛집이 없습니다. </p>
    {% endif %}

    
    <!--푸터 영역-->
    {% include 'footer.html' %}
    
</body>
</html>