<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menuList.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menuRegister.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/storeRegister.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/menuRegister.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/imgUploadDelete.js') }}" defer></script>
</head>
<body>
    <!--헤더 영역-->
    {% include 'header.html' %}
    
    {% with mesg = get_flashed_messages() %}
    {% if mesg !=[] %}
    <script>alert("{{ mesg[0] }}")</script>
    {% endif %}
    {% endwith %}
    
    <!--가게대표사진영역-->
    <div id="img_store"><img src="{{ storeData.img_path }}" class="img_head_store"></div>

    <!--가게로 돌아가기~메뉴추가 영역-->
    <p class="title_menu_list">메뉴 리스트</p>
    <div class="wrap_btn">
        <a href="/storeDetail/{{category}}/{{store_name}}/" class="btn_return_store"> <!--사용자의 히스토리로 돌아가는 링크 첨부해야함-->
            <img class="img_return_store" src="{{ url_for('static', filename='icon/icon_return.png') }}" alt="가게로 돌아가기 버튼">
            <div class="txt_btn">가게로 돌아가기</div>
        </a>
        <a href="#a" class="btn_add_menu"> 
            <div class="txt_btn">메뉴 추가</div>
            <img class="img_add_menu" src="{{ url_for('static', filename='icon/icon_circle_add.png') }}" alt="메뉴 등록 화면으로 이동하기 버튼">
        </a>
    </div>

    <!--메뉴 영역-->
    {% if total > 0 %}
        {% for i in row %}
        <div class="list_store_menu">
            {% for j in row2 %}
            <div class="items">
                <div class="item_area" id="#" href="#">
                    <div class="wrap_img_menu">
                        <img class="img_menu" src="{{datas[i*4+j].img_path}}" alt="가게 대표사진">
                    </div>
                    <p class="info_menu_name" >{{datas[i*4+j].menu_name}}</p>
                    <p class="info_menu_price">{{datas[i*4+j].menu_price}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    
        <div class="list_store_menu">
            {% for j in left %}
            <div class="items">
                <div class="item_area" id="#" href="#">
                    <div class="wrap_img_menu">
                        <img class="img_menu" src="{{datas[total-j-1].img_path}}" alt="가게 대표사진">
                    </div>
                    <p class="info_menu_name" >{{datas[total-j-1].menu_name}}</p>
                    <p class="info_menu_price">{{datas[total-j-1].menu_price}}</p>
                </div>
            </div>
            {% endfor %}
            {% for j in left2 %}
            <div class="fake_items">
            </div>
            {% endfor %}
        </div>
    {% else %}
    <div class="wrap_none_menu">
        <img src="{{ url_for('static', filename='icon/icon_crying.png') }}" height="50" width="50" alt="crying">
        <p style="font-family: 'Noto Sans KR', sans-serif;font-weight: 700; font-size: 17px; color: var(--common-dark-grey)">
        아직 {{store_name}}에 등록된 메뉴가 없어요. 첫 메뉴를 등록해 주세요!
        </p>
    </div>
    {% endif %}
   
    <!--메뉴 추가 팝업창-->
    {% include 'menuRegisterSubmit.html' %}

    <div class="dummy_page"></div>
    <!--푸터 영역-->
    {% include 'footer.html' %}
</body>
</html>