<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/myPage.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/myPage.js') }}" defer></script>
   
</head>
<body>
    <!--헤더 영역-->
    {% include 'header.html' %}
    <div class="wrap_profile_block">
        <div>
            
        </div>
        <div class="wrap_inform_show">
            <p class="txt_nickname">닉네임</p> <!--나중에 여기에 입력받은 닉네임 DB 정보 연결. js 연결 못함-->
            <p class="txt_email">이메일</p><!--나중에 여기에 입력받은 이메일 DB정보 연결. js 연결 못함-->
        </div>
    </div>
    
    <div class="wrap_modify_profile">
        <a href="#a" class="btn_modify_profile">
            <div class="txt_modify_profile">프로필 수정하기</div>
            <img class="img_modify_profile" src="{{ url_for('static', filename='icon/icon_edit.png') }}" alt="프로필 수정">
        </a>
    </div>


    <!--사이 띄어주기-->
    <p class="wrap_space"></p>

    <!--타이틀 영역-->

    <div class="wrap_txt">
        <p class="title_mypage">그동안 이런 가게에 다녀왔어요</p>
    </div> 

    <!--flip page-->
    <section>  
        <div class="left next"></div>  
        <div class="right next"></div>  
        <div class="left current"></div>  
        <div class="right current"></div>  
    </section>  

    <!--푸터 영역-->
    {% include 'footer.html' %}
    
  </body>
</html>