<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charest=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/storeDetail.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/storeDetail.js') }}" defer></script>
</head>

<body>
    <!--헤더 영역-->
    {% include 'header.html' %}

    <!--맛집 사진 구역-->
    <div id="img_store"><img src="{{ url_for('static', filename='img/img_temp1.jpg') }}" class="img_temp_store"></div> <!--맛집 대표사진-->

    <!--맛집 정보 구역-->
    <div class="info_store">
        <!--r가게 이름, 리뷰 및 별점 구역-->
        <div class="wrap_store_side">
            <p class="info_store_name">가게 이름</p>
            <!--리뷰 및 별점 구역-->
            <div class="wrap_review_and_star">
                <!--리뷰 구역-->
                <div class="wrap_review">
                    <img class="img_store_review" src="{{ url_for('static', filename='icon/icon_writing.png') }}" width="26" height="26">
                    <p class="txt_review_number">100</p>
                </div>
                <!--별점 구역-->
                <div class="wrap_star">
                    <div class="wrap_star_store">
                        <img class="img_star_store_1" width="26" height="26" src="{{ url_for('static', filename='icon/icon_rating.png') }}" alt="star_picture">
                        <img class="img_star_store_2" width="26" height="26" src="{{ url_for('static', filename='icon/icon_rating.png') }}" alt="star_picture">
                        <img class="img_star_store_3" width="26" height="26" src="{{ url_for('static', filename='icon/icon_rating.png') }}" alt="star_picture">
                        <img class="img_star_store_4" width="26" height="26" src="{{ url_for('static', filename='icon/icon_rating.png') }}" alt="star_picture">
                        <img class="img_star_store_5" width="26" height="26" src="{{ url_for('static', filename='icon/icon_rating.png') }}" alt="star_picture">
                    </div>
                    <p class="txt_rating_number">5.0</p>
                </div> 
            </div>
        </div>
        <!--맛집 정보 구역 가운데 선 표시-->
        <hr class="divide_section">
        <!-- 맛집 하단 정보 구역-->
        <div class="wrap_store_info">
            <table class="info_store_total">
                <tbody>
                    <tr class="info_store_address">
                        <th>가게주소</th>
                        <td>서울특별시 서대문구 신촌로 1길<br></td>
                    </tr>
                    <tr class="info_store_call">
                        <th>전화번호</th>
                        <td>02-123-4567<br></td>
                    </tr>
                    <tr class="info_store_food">
                        <th>음식 종류</th>
                        <td>한식<br></td>
                    </tr>
                    <tr class="info_store_openHour">
                        <th>영업시간</th>
                        <td>12:00-21:00<br></td>
                    </tr>
                    <tr class="info_store_bill">
                        <th>가격대</th>
                        <td>1만원 이상-2만원 이하<br></td>
                    </tr>
                    <tr class="info_store_parking">
                        <th>주차여부</th>
                        <td>가능<br></td>
                    </tr>
                </tbody>
            </table>
            <!--사이트 정보 따로 분류-->
            <table class="info_store_site">
                <tbody>
                    <tr class="info_store_website">
                        <th>사이트</th>
                        <td><a class="txt_site" href="#" target="_blank">@instagramID</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--사이 띄어주기-->
    <p class="wrap_space"></p>

    <!--맛집 위지 지도 api-->
    <div id="map"><img class="mark_map" src="{{ url_for('static', filename='img/img_map_mark.png') }}" alt=""></div>

    <!--사이 띄어주기-->
    <p class="wrap_space"></p>

    <!--소제목 구역-->
    <div class="title">
        <p class="title_mainMenu" href="#">대표메뉴</p>
        <!--대표메뉴 더보기-->
        <a class="btn_main_plus" href="/menuList" height="20" width="20">
            <div class="txt_more">더보기</div>
            <img src="{{ url_for('static', filename='icon/icon_circle_add.png') }}" height="20" width="20" alt="main_plus">
        </a>
    </div>
    <!--대표메뉴 보여주기-->
    <div class="list_mainMenu">
        <div class="list_menu_item 1">
            <div class="item_area" id="#" href="#">
                <img class="img_main_menu" src="https://via.placeholder.com/300x180.png/ddd/ddd" alt="가게 대표사진">
                <p class="info_menu_name" >메뉴이름</p>
                <p class="info_menu_price">가격</p>
            </div>
        </div>
        <div class="list_menu_item 2">
            <div class="item_area" id="#" href="#">
                <img class="img_main_menu" src="https://via.placeholder.com/300x180.png/ddd/ddd" alt="가게 대표사진">
                <p class="info_menu_name" >메뉴이름</p>
                <p class="info_menu_price">가격</p>
            </div>
        </div>
        <div class="list_menu_item 3">
            <div class="item_area" id="#" href="#">
                <img class="img_main_menu" src="https://via.placeholder.com/300x180.png/ddd/ddd" alt="가게 대표사진">
                <p class="info_menu_name" >메뉴이름</p>
                <p class="info_menu_price">가격</p>
            </div>
        </div>
        <div class="list_menu_item 4">
            <div class="item_area" id="#" href="#">
                <img class="img_main_menu" src="https://via.placeholder.com/300x180.png/ddd/ddd" alt="가게 대표사진">
                <p class="info_menu_name" >메뉴이름</p>
                <p class="info_menu_price">가격</p>
            </div>
        </div>
    </div>

    <!--사이 띄어주기-->
    <p class="wrap_space"></p>

    <!--소제목 구역-->
    <div class="title">
        <p class="title_review" href="#">리뷰보기</p>
        <!--리뷰 더보기(확인필요)-->
            <a class="btn_review_plus" href="reviewList" height="20" width="20">
                <div class="txt_more">더보기</div>
                <img src="{{ url_for('static', filename='icon/icon_circle_add.png') }}" height="20" width="20" alt="review_plus">
            </a>
    </div>
    <!--리뷰 보여주기-->
    <div class="list_review">
        <img class="img_review_1" src="https://via.placeholder.com/250x180.png/ddd/ddd" alt="review_pic1">
        <div class="info_review">
            <div class="wrap_review_written">
                <p class="txt_review_nickname_1">닉네임</p>
                <div class="wrap_star_review">
                    <img class="img_star_review_1" width="20" height="20" src="{{ url_for('static', filename='icon/icon_rating.png') }}" alt="star_picture">
                    <img class="img_star_review_2" width="20" height="20" src="{{ url_for('static', filename='icon/icon_rating.png') }}" alt="star_picture">
                    <img class="img_star_review_3" width="20" height="20" src="{{ url_for('static', filename='icon/icon_rating.png') }}" alt="star_picture">
                    <img class="img_star_review_4" width="20" height="20" src="{{ url_for('static', filename='icon/icon_rating.png') }}" alt="star_picture">
                    <img class="img_star_review_5" width="20" height="20" src="{{ url_for('static', filename='icon/icon_rating.png') }}" alt="star_picture">
                </div>
            </div>
            <div class="txt_review_content">
                <p class="txt_review_content_1">
                    리뷰 내용입니다. 리뷰 내용입니다. 리뷰 내용입니다. 리뷰 내용입니다.
                    리뷰 내용입니다. 리뷰 내용입니다. 리뷰 내용입니다. 리뷰 내용입니다.
                    리뷰 내용입니다. 리뷰 내용입니다. 리뷰 내용입니다. 리뷰 내용입니다.
                    리뷰 내용입니다. 리뷰 내용입니다. 리뷰 내용입니다. 리뷰 내용입니다.
                    리뷰 내용입니다. 리뷰 내용입니다. 리뷰 내용입니다. 리뷰 내용입니다.
                    리뷰 내용입니다. 리뷰 내용입니다. 리뷰 내용입니다. 리뷰 내용입니다.
                </p>
            </div>
        </div>
        <!--리뷰 좋아요 구역-->
        <div class="icon_review_favorite_heart">
            <img class="btn_review_favorite" src="{{ url_for('static', filename='icon/icon_like_before.png') }}" width="26" height="23.214">
        </div> 
    </div>
    <div class="list_review">
        <img class="img_review_1" src="https://via.placeholder.com/250x180.png/ddd/ddd" alt="review_pic1">
        <div class="info_review">
            <div class="wrap_review_written">
                <p class="txt_review_nickname_1">닉네임</p>
                <div class="wrap_star_review">
                    <img class="img_star_review_1" width="20" height="20" src="{{ url_for('static', filename='icon/icon_rating.png') }}" alt="star_picture">
                    <img class="img_star_review_2" width="20" height="20" src="{{ url_for('static', filename='icon/icon_rating.png') }}" alt="star_picture">
                    <img class="img_star_review_3" width="20" height="20" src="{{ url_for('static', filename='icon/icon_rating.png') }}" alt="star_picture">
                    <img class="img_star_review_4" width="20" height="20" src="{{ url_for('static', filename='icon/icon_rating.png') }}" alt="star_picture">
                    <img class="img_star_review_5" width="20" height="20" src="{{ url_for('static', filename='icon/icon_rating.png') }}" alt="star_picture">
                </div>
            </div>
            <div class="txt_review_content">
                <p class="txt_review_content_1">
                    리뷰 내용입니다. 리뷰 내용입니다. 리뷰 내용입니다. 리뷰 내용입니다.
                    리뷰 내용입니다. 리뷰 내용입니다. 리뷰 내용입니다. 리뷰 내용입니다.
                    리뷰 내용입니다. 리뷰 내용입니다. 리뷰 내용입니다. 리뷰 내용입니다.
                    리뷰 내용입니다. 리뷰 내용입니다. 리뷰 내용입니다. 리뷰 내용입니다.
                    리뷰 내용입니다. 리뷰 내용입니다. 리뷰 내용입니다. 리뷰 내용입니다.
                    리뷰 내용입니다. 리뷰 내용입니다. 리뷰 내용입니다. 리뷰 내용입니다.
                </p>
            </div>
        </div>
        <!--리뷰 좋아요 구역-->
        <div class="icon_review_favorite_heart">
            <img class="btn_review_favorite" src="{{ url_for('static', filename='icon/icon_like_before.png') }}" width="26" height="23.214">
        </div> 
    </div>

    <!--푸터 영역-->
    {% include 'footer.html' %}
    
</body>
</html>